/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

.heroDefaultBg {
  background-image: url(/img/heroBackground.svg);
  color: var(--ifm-navbar-link-color);
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

[data-theme="dark"] .heroDefaultBg {
  background-image: url(/img/heroBackgroundDark.svg);
}

.title {
  color: var(--ifm-heading-color);
}

.heroSubtitle {
  color: var(--ifm-heading-color);
}

.heroImage {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  min-height: 300px;
}

.heroImageGradient {
  background-color: transparent;
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.9));
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 300px;
}

[data-theme="dark"] .heroImageGradient {
  background-image: linear-gradient(
    rgb(27 27 29 / 62%),
    rgb(255 255 255 / 54%)
  );
}

[data-theme="dark"] .title,
[data-theme="dark"] .heroSubtitle {
  color: #fff;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}