.mdxPageWrapper {
  justify-content: center;
}

.mdxPageWrapper article h1:first-child {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .mdxPageWrapper article {
    padding: 0 1.5rem;
  }
}
